.title {
  text-align: right;
  background-color: transparent;
  padding: 100px 40px;
  color: darkred;
  margin: 20px 0;
}

.image {
  background-image: url("https://images.unsplash.com/photo-1547042591-aae98619aab5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
  background-position: center;
  background-size: cover;
  height: 600px;
}
.contact {}

.content {}

h1,
h2,
h3 {
  font-family: 'Special Elite', cursive;
}
